
@{
    ViewBag.Title = "Index";
}

<!-- MAIN-->
<main id="main">

    <!-- PAGE HEADING-->
    <section class="section page-heading js-parallax-scroll" style="background-image: url('../../Public/images/bg-heading-03.jpg');">
        <div class="container">
            <div class="page-heading-inner">
                <div class="section-heading section-heading-1 section-heading-1--tiny text-left">
                    <h2 class="section-heading__title">Расписание Классов</h2>
                    <div class="section-heading__line">
                        <img src="~/Public/images/icon/line-blue-small.png" alt="Line" />
                    </div>
                </div>
                <nav class="au-breadcrumb">
                    <ul class="list-unstyled list-breadcrumb">
                        <li class="list-breadcrumb__item">
                            <a href="@Url.Action("index","home")">Главная</a>
                        </li>
                        <li class="list-breadcrumb__item">Класс</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- END PAGE HEADING-->
    <!-- CLASS SCHEDULE-->
    <section class="section p-t-125 p-b-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading section-heading-1 m-b-35">
                        <h2 class="section-heading__title">Расписание Классов</h2>
                        <div class="section-heading__line">
                            <img src="~/Public/images/icon/line-blue.png" alt="Line">
                        </div>
                    </div>
                    <div class="wrap wrap--w830">
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="au-tab-3-wrap p-t-60">
                      
                        <div class="tab-content au-tab-content-2">
                            <div class="tab-pane au-tab-pane-2 fade show active" role="tabpanel" id="all">
                                <table class="table table-schedule">
                                    <thead>
                                        <tr>
                                            <th class="table-schedule-th-1" colspan="7">
                                                <div class="table-schedule-th-1__inner">
                                                
                                                    <div class="title title--lg title--white text-uppercase">2019</div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr class="table-schedule-th-2">
                                            <th>Время</th>
                                            <th>Понедельник</th>
                                            <th>Вторник</th>
                                            <th>Среда</th>
                                            <th>Четверг</th>
                                            <th>Пятница</th>
                                            <th>Суббота</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>08:00</td>
                                            <td class="table-schedule-item-wrap violet" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap pink" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap green" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">08:00 - 09:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и завтракают</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>09:00</td>
                                        </tr>
                                        <tr>
                                            <td>10:00</td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Красочный класс</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Игровой класс</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Красочный класс</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <h5 class="title title--white">Игровой класс</h5>
                                                    <p class="text">Играют в различные игры</p>

                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap green" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Класс рисования</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Математический класс</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Математический класс</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс рисования</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Класс обучения языков</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс пения </h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Класс пения </h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс обучения языков</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap green" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Класс рисования</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Математический класс</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Математический класс</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс рисования</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Класс экспериментов</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс сказки и историй</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Класс сказки и историй</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс экспериментов</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">09:00 - 10:00</span>
                                                    <h5 class="title title--white">Класс обучения языков</h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс пения </h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                    <hr />
                                                    <span class="time">10:00 - 11:00</span>
                                                    <h5 class="title title--white">Класс пения </h5>
                                                    <p class="text">Играют в различные игры</p>
                                                    <h5 class="title title--white">Класс обучения языков</h5>
                                                    <p class="text">Поют и Танцуют</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>11:00</td>
                                        </tr>
                                        <tr>
                                            <td>12:00</td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue2" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">12:00 - 13:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Умываются и обедают</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>13:00</td>
                                        </tr>
                                        <tr>
                                            <td>14:00</td>
                                            <td class="table-schedule-item-wrap pink" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>

                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap green" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap pink" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">13:00 - 14:30</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Спят</p>
                                                    <hr />
                                                    <span class="time">14:30 - 15:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Рисуют</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>15:00</td>
                                        </tr>
                                        <tr>
                                            <td>16:00</td>
                                            <td class="table-schedule-item-wrap blue" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap violet" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap pink" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap yellow" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap violet" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                            <td class="table-schedule-item-wrap pink" rowspan="2">
                                                <div class="table-schedule-item">
                                                    <span class="time">15:00 - 16:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Изучают иностранный язык</p>
                                                    <hr />
                                                    <span class="time">16:00 - 17:00</span>
                                                    <h5 class="title title--white">Все группы</h5>
                                                    <p class="text">Слушают истории</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CLASS SCHEDULE-->
    <!-- CTA-->
    <section class="section cta-1 bg-pink p-t-80 p-b-55">
        <div class="container">
            <div class="cta-wrap">
                <div class="cta__img wow fadeInUp" data-wow-delay=".2s">
                    <img src="~/Public/images/cta-item-01.png" alt="CTA">
                </div>
                <div class="row">
                    <div class="col-md-7 offset-md-5">
                        <div class="wrap--w625">
                            <div class="cta">
                                <div class="cta__body">
                                    <h2 class="title cta__title">КАК ЗАПИСАТЬ СВОЕГО РЕБЕНКА В КЛАСС?</h2>
                                    <p class="cta__text">Заинтересованы в хорошем дошкольном образовании своего ребенка? Наш детский сад - правильное решение</p>
                                    <a class="au-btn au-btn--blue" href="#">
                                        Подробно
                                        <i class="zmdi zmdi-chevron-right"></i>
                                        <i class="zmdi zmdi-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CTA-->
</main>
<!-- END MAIN-->
