
@{
    ViewBag.Title = "_Notifications";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #START# Notifications-->
<li class="dropdown">
    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="nav-hdr-btn ti-bell"></i>
        <span class="notify"></span>
        <span class="heartbeat"></span>
    </a>
    <ul class="dropdown-menu pullDown">
        <li class="header">NOTIFICATIONS</li>
        <li class="body">
            <ul class="menu">
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user1.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">Sarah Smith</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 14 mins ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user2.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">Airi Satou</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 22 mins ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user3.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">John Doe</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 3 hours ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user4.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">Ashton Cox</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 2 hours ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user5.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">Cara Stevens</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 4 hours ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user6.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">Charde Marshall</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> 3 hours ago
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="return false;">
                        <span class="table-img msg-user">
                            <img src="~/Areas/Admin/assets/images/user/user7.jpg" alt="">
                        </span>
                        <span class="menu-info">
                            <span class="menu-title">John Doe</span>
                            <span class="menu-desc">
                                <i class="material-icons">access_time</i> Yesterday
                            </span>
                            <span class="menu-desc">Please check your email.</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer">
            <a href="#" onClick="return false;">View All Notifications</a>
        </li>
    </ul>
</li>
<!-- #END# Notifications-->
